[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-json-widget = "*"
pillow = "*"
psycopg2-binary = "*"
shortuuid = "*"
south = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
